// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  border: none;
  th, td {
    padding: 5px;
  }
  thead {
    th {
      background: lightgoldenrodyellow;
    }
  }
  tbody {
    tr {
      &.list_line_odd {
        background: #ccc;
      }
      &.list_line_even {
        background: #EFEFEF;
      }
    }
  }
}