<% provide(:title, "Welcome") %>
<h1>Home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>
  <a href="email:contact@foo.com">Contact Us</a>
</p>
<p>
  <%= get_season %>
  <%= get_random_value %>
</p>